html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove Google Maps full screen button */
.gm-control-active.gm-fullscreen-control {
  display: none;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  header h1 {
    font-size: 25px;
  }

  header span {
    display: block;
    position: static;
    font-size: 15px;
    font-weight: 500;
  }

  header strong {
    font-weight: 700;
  }

  header select {
    margin-top: 10px;
  }
}
